.preview-container {
  .preview-actions {
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;
    @include flex($direction:column , $justify:flex-start);
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    box-shadow: $box-shadow-md;

    p {
      text-align: center;
      padding: 5px 0;
    }
    .button-group {
      margin-top: 20px;
      button {
        margin-right: 5px;
      }
    }
  }

  .preview-info {
    box-shadow: $box-shadow-md;
    width: 100%;
    padding: 30px;
    margin-top: 20px;

    .reservation-info {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .item {
        width: calc(50% - 20px);
        text-align: center;
        margin: 5px;
        padding: 5px;
        background-color: $section-bg;
        color: $dark-color;
        border-radius: 5px;
        label {
          display: block;
          font-weight: 800;
        }
      }
    }
  }

  .totals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    hr {
      margin: 10px 0;
    }

    .item {

      @include flex( $justify:space-between);
      margin: 5px 50px;
      label {
        font-weight: 800;
      }
    }
  }
}

@media (max-width: 768px) {
  .preview-container {
    width: 90%;
    .preview-actions {
      .button-group {
        @include flex( $direction:column);
        margin-top: 20px;
        button {
          margin:5px 0;
          padding: 10px;
          font-size:14px;
        }
      }
    }
    .preview-info{
      .totals{
        .item{
          margin:5px 10px;
        }
      }
    }
  }
}
