@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
@import "./variables.scss";
@import "./header.scss";
@import "./tabpanel.scss";
@import "./rezervation.scss";
@import "./reservation-footer.scss";
@import "./payment.scss";
@import "./final.scss";
@import "./loader.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

#app {
  width: 100%;

  @include flex($direction:column);
  .main-container {
    @include flex($direction:column);
    width: 1000px;
  }
}

button {
  padding: 15px;
  background: rgba($main-color, 1);
  border: none;
  outline: none;
  color: $light-color;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.2s ease;
  &:hover {
    box-shadow: $box-shadow;
  }
}

.vs__clear {
  display: none;
}
.mx-icon-clear {
  svg {
    display: none;
  }
}

.error {
  font-size: 12px;
  color: $warning;
  padding-top: 5px;
}

.form-group--error {
  .vs__dropdown-toggle {
    border: 1px solid $warning;
    transition: all 0.3s ease;
  }

  .mx-datepicker {
    .mx-input-wrapper {
      input {
        border: 1px solid $warning;
        transition: all 0.3s ease;
      }
    }
  }

  .input {
    border: 1px solid $warning;
    transition: all 0.3s ease;
  }
}

.input {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 6px 10px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 1.4;
  color: $input-color;
  background-color: $light-color;
  border: 1px solid $border-color;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  outline: none;

  &:hover {
    border-color: $main-color !important;
  }
  &:focus {
    border-color: $main-color !important;
  }
}

.router-link-active {
  color: $warning;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 0.5s ease;
}

.fade-leave {
}

.fade-leave-active {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.not-found{
  @include flex($direction:column);
  height: 90vh;
  h1{
    font-size:100px
  }
  button{
    margin-top: 20px;
  }
}

@media (max-width: 1000px) {
  #app {
    width: 100%;
    .main-container {
      width:95%;
    }
  }
}
