@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
@import './variables.scss';
@import './header.scss';
@import './tabpanel.scss';
@import './rezervation.scss';
@import './reservation-footer.scss';
@import './payment.scss';

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Nunito', sans-serif;
}

#app{
 .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
 }
}

button{
    padding: 15px;
    background: rgba($main-color,1);
    border: none;
    outline: none;
    color: $light-color;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    transition: all .2s ease;
    &:hover{
       
       box-shadow:$box-shadow;
       
    }
}

.input{
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding: 6px 10px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%); 
    outline: none;

    &:hover{
        border-color: #409aff !important
    }
    &:focus{
        border-color: #409aff !important;
    
    }
}

.router-link-active {
    color: red;
  }
  
  .fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    transition: opacity .5s ease;
  }
  
  .fade-leave {}
  
  .fade-leave-active {
    transition: opacity .5s ease;
    opacity: 0;
  }
  