.payment-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 30px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

  .card-info-container {
    width: calc(50%);
    padding: 20px;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;

    .credit-card {
      margin-bottom: 30px;
      position: relative;

      .front {
        background-color: $main-color;
        background-image: linear-gradient(147deg, $main-color 0%, #000000 74%);
        border-radius: 10px;
        backface-visibility: hidden;
        box-shadow: $box-shadow;

        padding: 20px;
        width: 100%;
        transform: perspective(1000px) rotateY(0);
        transition: transform 0.5s ease-out;

        &:focus {
          transform: perspective(1000px) rotateY(-180deg);
        }

        .logo {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 10px;

          p {
            color: $light-color;
            font-size: 1.8rem;
            font-weight: 800;
          }

          img {
            height: 50px;
          }
        }
        .card-number {
          display: flex;
          align-items: center;
          padding: 25px 0;
          gap: 20px;
          img {
            height: 50px;
          }
          span {
            font-size: 1.8rem;
            color: $light-color;
          }
        }

        .card-info {
          display: flex;

          .item {
            font-size: 1rem;
            color: $light-color;
            .card-holder {
              font-size: 1.2rem;
            }
            label {
              display: block;
            }
            span {
              font-size: 1.2rem;
            }
            &:nth-child(1) {
              margin-right: auto;
            }
          }
        }
      }

      .back {
        background-color: $main-color;
        background-image: linear-gradient(147deg, $main-color 0%, #000000 74%);
        border-radius: 10px;
        padding: 20px 0;
        position: absolute;
        width: calc(90% + 40px);
        top: 0;
        left: 0;
        text-align: right;
        backface-visibility: hidden;
        box-shadow: $box-shadow;
        transition: transform 0.5s ease-out;

        .stripe {
          background: $dark-color;
          width: 100%;
          margin: 10px 0;
          height: 50px;
        }

        .item {
          padding: 0 20px;
          span {
            color: $light-color;
            font-size: 1rem;
          }
          .cvv-box {
            height: 50px;
            margin-top: 5px;
            color: #333;
            background: $light-color;
            border-radius: 5px;
            width: 100%;
          }

          img {
            margin-top: 30px;
            height: 30px;
          }
        }
      }
    }

    &::before {
      content: "Kredi Kartı Bilgileri";
      position: absolute;
      font-weight: bold;
      top: -15px;
      left: 20px;
      background-color: $light-color;
      padding: 5px;
    }
    .card-item {
      margin-bottom: 10px;
    }
    .card-item-flex {
      display: flex;
      justify-content: space-between;
      gap: 5px;
      .flex-item {
        width: 35%;
        &.year {
          width: 20%;
          display: flex;
          align-items: flex-end;
        }
      }
    }
  }
  .preview-container {
    display: flex;
    flex-direction: column;
    width: calc(50% - 15px);
    h2 {
      color: $dark-color;
    }
    .reservation-info {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .item {
        width: calc(50% - 20px);
        text-align: center;
        margin: 5px;
        padding: 5px;
        background-color: $section-bg;
        color: $dark-color;
        border-radius: 5px;
        box-shadow: $box-shadow-sm;
        label {
          display: block;
          font-weight: 800;
        }
      }
    }
  }
  .coupon {
    display: flex;
    justify-content: space-between;
    margin: 20px 5px;
    input {
      width: 70%;
    }
    button {
      width: 25%;
      font-size: 12px;
      padding: 5px;
    }
  }

  .coupon-status {
    margin: -10px 0 20px 5px;
    font-size: 12px;
  }

  .totals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    hr {
      margin: 10px 0;
    }

    .item {
      display: flex;
      justify-content: space-between;
      margin: 5px 50px;
      label {
        font-weight: 800;
      }
    }
  }
}

@media (max-width: 1000px) {
  .payment-container {
    flex-direction: column-reverse;

    .card-info-container {

      .credit-card {
        .front {
          padding: 60px;
        }
        .back{
          padding: 60px;
        }
      }

      width: 100%;
      .card-item-flex {
        flex-direction: column;
        .flex-item{
          width: 100%;

          &.year{
            width: 100%;
          }
        }
      }
    }
    .preview-container {
      width: 100%;

      text-align: center;
      h2 {
        margin-bottom: 10px;
      }

      .totals {
        .item {
          margin: 5px 10px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .payment-container {
    .card-info-container {
      
      .credit-card {
       
        .front {
          width: 100%;
          padding: 15px;
          .logo {
            p {
              font-size: 16px;
            }
            img {
              height: 25px;
            }
          }
          .card-number {
            span {
              font-size: 14px;
            }
            img {
              height: 25px;
            }
          }
          .card-info {
            .item {
              label {
                font-size: 12px;
              }
              span {
                font-size: 12px;
              }
              .card-holder {
                font-size: 12px;
              }
            }
          }
        }
        .back {
          padding: 15px 0;
          .stripe {
            height: 25px;
          }
          .item {
            .cvv-box {
              height: 25px;
            }
          }
        }
      }
    }
  }
}
