.footer-container {
    background-color: $section-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin: 30px 0;
}