.section-container {


  @include flex($direction:column,$justify:flex-start);
  align-items: center;
  width: 100%;
  padding: 30px;
  box-shadow:$box-shadow-md;

  .form {
  
    @include flex($align:flex-start,$justify:space-between);
    width: 100%;
    .form-item {

      @include flex($direction:column,$align:flex-start);
      margin: 20px 0;
      width: 20%;
      max-width: 20%;
      .child{
        font-size:12px;
        color: #ffac4d;
      }
      label {
        font-weight: 600;
        padding-bottom: 5px;
      }
    }
  }

  .vSelect {
    width: 100%;
  }

  .hotel-info {
    width: 100%;
    background-color: $main-color;
    padding: 10px;
    border-radius: 5px;
    box-shadow: $box-shadow;
    color: $light-color;

    h2 {
      text-transform: uppercase;
      span {
        font-weight: 300;
        font-size: 20px;
      }
    }

    ul {
      display: flex;
      list-style: none;
      gap: 20px;
    }
  }
  .room-types {
    @include flex($direction:column);
    width: 100%;
    padding: 20px;
    h2 {
      text-align: left;
      width: 100%;
      margin-bottom: 20px;

      span{
        font-size:14px;
        color: $warning;
      }
    }

    .room-types-item-container {
    
      @include flex($justify:space-between);

      .room-types-item {
        width: 30%;
        padding: 10px;
        border: 1px solid rgb(243, 243, 243);
        border-radius: 5px;
        box-shadow: $box-shadow-sm;
        transition: all .3s ease;

        &.selected{
          background-color: $main-color;
          color: $light-color;
          box-shadow: $box-shadow;
        }

        .details {

          @include flex($justify:space-between);
          p {
            font-weight: bold;
          }
        }

        img {
          width: 100%;
          border-radius: 5px;
          border:2px solid $light-color
        }
      }
    }
  }


  .card-info{
    .form-item{
      input,select{
        margin: 10px 0;
      }
    }
  }
}


@media(max-width:1000px){
  .section-container {
    .form{
      flex-direction: column;
      .form-item{
        width: 100%;
        max-width: 100%;

       

        .mx-datepicker{
          width: 100%;
         
        }

        .input{
          width: 100%;
        }
      }
    }
    .hotel-info {
      text-align: center;
      ul{
        @include flex($direction:column);
      }
    }
    .room-types {
          padding: 10px 0;
          h2{
            text-align: center;
            margin-bottom: 5px;
            margin-top: 15px;
          }
        .room-types-item-container{
          width: 100%;
          flex-direction: column;
          .room-types-item{
            width: 100%;
            margin-bottom: 10px;
          }
        }
    }
  }
}
