.tab-container {
  background-color: $section-bg;

  @include flex($align:flex-start);
  padding: 20px 30px;
  width: 100%;
  box-shadow: $box-shadow-md;
  margin: 20px 0;

  .tab-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 33%;

    span {
  
      background-color: $border-color;

      @include flex();
      width: 30px;
      height: 30px;
      padding: 30px;
      border-radius: 50%;

    

      &.selected {
        background-color: $main-color;
      }
    }

    p {
      font-size: 0.9rem;
      text-align: center;
      font-weight: 600;
      padding-top: 10px;
    }
  }
}

@media (max-width:768px){
  .tab-container {
    .tab-item{
      p{
        font-size: 0.7rem;
      }
    }
  }
}
