$header-bg:#09005a;
$section-bg:#eeeeee;

$main-color:#409aff;
$light-color:#fefefe;
$dark-color:#313131;
$warning:#ff6464;

$box-shadow:10px 10px 20px rgba(0,0,0,.2);
$box-shadow-sm:1px 1px 10px rgba(0,0,0,.2);



$loaderbg:rgba(0,0,0,.5);
$dot: #909090;
$line: #F8F8F8;


@mixin centered(){
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
  }

